.store-item {
    padding: 20px;
    background-color: transparent; /* or your desired color */
  }
  
  .slider-container {
    max-width: 90%;
    margin: auto;
  }
  
  .slider-div {
    background: white;
    padding: 15px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    height: 150px; /* or based on your Tile size */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  