.terminal-container {
    width: 100vw;
    height: 85vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--navbar-height);
    overflow: hidden !important;
    position: relative !important;
    box-sizing: content-box !important;
}

.xterm .xterm-viewport {
    overflow-y: hidden !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
