.tile {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    background-color: grey;
    justify-content: flex-start; /* Align items to the top */
    align-items: center;
    flex-direction: column; /* Stack items vertically */
    border-radius: 25px;
}

img {
    width: 60%;
    height: 60%;
    margin-bottom: auto; /* Push the image to the top */
}
