* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.navbar__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    list-style: none;

    padding-right: 40px;
}

.navbar a {
    color: var(--background-color); /* Set the text color to black */
    text-decoration: none; 
}

.navbar a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}

body {
    overflow-x: hidden;
}